body {
  font-family: "Arial", sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  transition: background-color 0.5s ease;
}

#rick-roll-content {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#rick-roll-heading {
  color: #ff5733;
}

button {
  background: linear-gradient(
    to right,
    violet,
    indigo,
    blue,
    green,
    yellow,
    orange,
    red
  );
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  margin-bottom: 20px;
  border-radius: 20px;
  text-shadow: 2px 2px 2px black;
}

button:hover {
  background: linear-gradient(
    to right,
    violet,
    indigo,
    blue,
    green,
    yellow,
    orange,
    red
  );
}
